*{
	padding:0px;
	margin:0px;
	min-width:0px;
	min-height:0px;
}

#window{
	background-color: rgba(199,255,253,0.5);
	opacity: 0.95;
	color: black;
	border:2px solid #black;
	border-radius:10px;
}

#outer-box{
	padding:0px;
}

#input{
	opacity:0;
	padding:0px;
	margin:0px;
	min-width:0px;
	min-height:0px;
	color: rgba(0,0,0,0);
	border:none;
	background-color:rgba(199,255,253,0.5);
}

#input image{
	color: rgba(0,0,0,0);
}

#entry{
	padding: 2px;
	margin:0px;
	border:0px;
}

#entry:selected{
	background: #292c3c;
	color:#c6d0f5;
	border: 2px solid black;
	border-radius:10px;
}
