/*
0: main background
1: text, selection text
2: selection bg
3: main border
4: alt bg 
*/

*{
	font-family:
		"JetBrains Mono",
		"Iosevka Nerd Font",
		sans-serif;
	  font-size:10px;
}

#window{
	background-color: --wofi-color0;
	opacity: 0.95;
	color:--wofi-color1;
	border:1px solid --wofi-color3;
	border-radius:10px;
}

#outer-box{
	padding:5px;
}

#input{
	color: --wofi-color1;
	background-color: --wofi-color0;
	border:1px solid --wofi-color1;
	padding:0px;
	margin:10px 10px 0px 10px;
}

#input:focused{
	border: 1px solid --wofi-color3;
	outline:none;
	box-shadow: inset 0 0 0 0;
}

#scroll{
	margin-top:20px;
}

#inner-box{
	background-color: --wofi-color0;
}

#text{
	text-align:center;
	color: --wofi-color1;	
}

#entry{
	padding: 2px;
	margin:0px;
	border: 0px;
}

#entry:selected{
	background: --wofi-color4;
	color:--wofi-color1;
	border:2px solid --wofi-color3;
	border-radius:10px;

}

#text:selected{
	color: --wofi-color1;
}

#input image{
	color:rgba(0,0,0,0);
}
